<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- HikariCP configuration -->
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="computerDatabase" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/computer-database-db?autoReconnect=true&amp;useSSL=false" />
		<property name="username" value="admincdb" />
		<property name="password" value="qwerty1234" />
	</bean>

	<!-- dataSource -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>

	<!-- Connection Manager -->
	<bean id="connectionManager" class="persistence.daoUtil.ConnectionManager">
		<property name="dataSource" value="dataSource" />
	</bean>

	<!-- JDBCTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- DAO -->
	<bean id="companyDAOImpl" class="persistence.daoImpl.CompanyDAOImpl">
		<property name="connectionManager" value="connectionManager" />
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="computerDAOImpl" class="persistence.daoimpl.ComputerDAOImpl">
		<property name="connectionManager" value="connectionManager" />
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<!-- Service -->
	<bean id="serviceCompany" class="service.ServiceCompany">
		<property name="companyDAOImpl" value="companyDAOImpl" />
	</bean>

	<bean id="serviceComputer" class="service.ServiceComputer">
		<property name="computerDAOImpl" value="computerDAOImpl" />
		<property name="connectionManager" value="connectionManager" />
	</bean>

	<!-- Servlet -->
	<beans
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		<!-- Controleur type d'urlMapping : org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping -->
		<bean id="dashboardController" class="controller.DashBoard">
			<property name="serviceComputer" ref="serviceComputer" />
		</bean>
		<bean id="urlMapping"
			class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		</bean>
		<bean name="/dashboard"
			class="controller.DashBoard">
			<property name="serviceComputer" ref="serviceComputer" />
		</bean>
		<!-- View Resolver : Toutes les vues sont des JSP -->
		<bean id="viewResolver"
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix">
				<value>/WEB-INF/</value>
			</property>
			<property name="suffix">
				<value>.jsp</value>
			</property>
		</bean>
	</beans>

</beans>